[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "pyxcp"
readme = "README.md"
requires-python = ">= 3.6"
authors = [{name = "Christoph Schueler", email = "cpu12.gems@googlemail.com"}]
keywords = ["automotive", "ecu", "xcp", "asam", "autosar"]
classifiers = [
    # How mature is this project? Common values are
    #   3 - Alpha
    #   4 - Beta
    #   5 - Production/Stable
    "Development Status :: 4 - Beta",

    # Indicate who your project is intended for
    "Intended Audience :: Developers",
    "Topic :: Software Development",
    "Topic :: Scientific/Engineering",

    # Pick your license as you wish (should match "license" above)
    "License :: OSI Approved :: GNU General Public License v2 (GPLv2)",

    # Specify the Python versions you support here. In particular, ensure
    # that you indicate whether you support Python 2, Python 3 or both.
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
dependencies = [
    "construct >= 2.9.0",
    "mako",
    "pyserial",
    "pyusb",
    "toml"
]
dynamic = ["version", "description"]

[project.urls]
Home = "https://github.com/christoph2/pyxcp"

[project.optional-dependencies]
test = [
    "pytest",
    "pytest-runner",
    "pytest-cov"
]
doc = [
    "sphinx",
    "sphinxcontrib-napoleon"
]
