name: pyXCP

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-24.04-arm
          - os: ubuntu-latest
          - os: windows-11-arm
            cibw_archs_windows: ARM64
          - os: windows-latest
            cibw_archs_windows: AMD64
    steps:
      - uses: actions/checkout@v6
      - uses: pypa/cibuildwheel@v3.3
        env:
          CIBW_ARCHS_WINDOWS: ${{ matrix.cibw_archs_windows || '' }}
          CIBW_ARCHS_MACOS: arm64
      - uses: actions/upload-artifact@v6
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build sdist
        run: |
          pip install -U build
          python -m build --sdist
      - uses: actions/upload-artifact@v6
        with:
          path: dist/*.tar.gz
          include-hidden-files: true

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/download-artifact@v7
        with:
          path: dist
          merge-multiple: true
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          attestations: true
